@model CodingExercise.Models.HomeViewModel
@{
    ViewBag.Title = "Code Exercise";
}

<style>
    p {margin-left: 20px;}
</style>

<div class="jumbotron">
    <h2>@ViewBag.Title</h2>
</div>

<section class="row">
    <div class="row col-md-8 col-lg-10">
        <p>@Model.Message</p>
    </div>
</section>
